<% let args = {
    pageTtl: 'template タイトル',
    pageDes: 'template ディスクリプション',
    pageKey: 'template キー',
    pageUrl: '_template/',
    pageImg: 'template/ogp.png',
    pageCss: 'template.css',
    pageJs: 'template.min.js',
    // pageCss02: '',
    // pageJs02: '',
    // is_jquery: true,
    is_home: false,
    is_path: '../', // 注：ルートから正しく相対パスを指定ください（ Gulp Error 出ます ）
}; %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`./${args.is_path}assets/inc/_load-head-ga`) %>
  <%- include(`./${args.is_path}assets/inc/_load-head-meta`,{ args }) %>
  <%- include(`./${args.is_path}assets/inc/_load-head-css`,{ args }) %>
  <%- include(`./${args.is_path}assets/inc/_load-head-js`,{ args }) %>
</head>

<body class="pagetype-template">
  <%- // include(`./${args.is_path}assets/inc/_load-body-svg`) %>
  <%- include(`./${args.is_path}assets/inc/_load-body-header`,{ args }) %>

  <div class="contswrap">
    template コンテンツ
  </div>

  <%- include(`./${args.is_path}assets/inc/_load-body-footer`,{ args }) %>
  <%- include(`./${args.is_path}assets/inc/_load-body-js`,{ args }) %>
</body>

</html>